@using Microsoft.AspNetCore.Components;
@using Quarantine.Models;
@inject IJSRuntime jsRuntime;

@if (DailyStats != null && HourlyStats != null)
{
    <div id="chartdiv"></div>
}

@code {
    [Parameter]
    public IEnumerable<ValueDateSessionStat> DailyStats { get; set; }
    [Parameter]
    public IEnumerable<ValueDateSessionStat> HourlyStats { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await jsRuntime.InvokeVoidAsync("volumeTimeStats", DailyStats, HourlyStats);
            StateHasChanged();
        }
    }
}
