@page "/"

<h1>Welcome to Quarantine</h1>

<p>Currently, the only offered game is <a href="games">Ride The Bus</a></p>

<p>To play, you must either create a new game, or join an existing</p>
<p>To create a game, fill out the Player Name, Game Name, and optional Password field - the game will be created and added to the list of available games</p>
<p>The creator of the game has the ability to start the game and is in charge of 'flipping' cards during the 'Ride The Bus' portion</p>
<p>To join an existing game, select the game from the game list, enter a password if prompted, enter your name, and press join</p>
<p>If the game has already started, you may press the name of your player in the displayed table and confirm you want to play as that player</p>

<b>NOTES:</b>
<p>Drinks are randomly assigned</p>
<p>Each game is limited to 9 players</p>
<p>Once a game starts, no additional players can be added</p>
<p>Have fun and drink responsibly</p>
<p>This is most definitely a <b>Beta</b></p>
